<div class="main height">
    <div class="container">
        <div class="text-center">
            <h3 class="white">Select Your Gender</h3>
            <div class="d-flex flex-row justify-content-center gender">
                <div (click)="selectGender('male')">
                    <img src="../../../../assets/img/dashboard/avatar_male.png" alt="" >
                </div>
                <div (click)="selectGender('female')">
                    <img src="../../../../assets/img/dashboard/avatar_female.png" alt="" >
                </div>
            </div>
        </div>
    </div>
</div>
