
$background-color: #F6F7FB;
$sidebar-background-color: #323659;
$primary-blue: #1978DC;
$secondary-blue: #4886FF;
$font-color: #484B5C;
$form-label-color: #747474;
$liner : linear-gradient(68.05deg, #1978DC 0.82%, #0265CD 100%);
$white: #fff;
$black: #000;
$yellow: #FFD54F;
$red: #EA063D;
$red-light: #EB5757;
$btn-red: #EB5757;
$card_red :#EE6C6C;
$light-red: #F4839E;
$purple : #6F52ED;
$green: #00BD51;
$green_2 : #1FDB00;
$green_3 : #08EDBF;
$gray: #AAB1B6;
$gray-light: #CBCBCB;
$table-border: #E5E5E5;
$menuColor : #5674A1;
$default_blue: #070E2F;
$dark_grey: #747474;
$light_grey: #9E9E9E;
$extra_light_grey : #8B8B8B;
$search_btn : #AAB1B6;
$input_border :  #C7C7C7;
$bar:#08EDBF;
$blue_3 : #A3C3FF;

$primary-color: #898585;
