mat-label,
.ag-filter-select,
.mat-option,
.mat-select-value,
.mat-checkbox-label,
.mat-optgroup-label,
.mat-input-element,
.mat-radio-label-content,
.mat-slide-toggle-content {
    font-family: $main-font-family;
    color: #f3f3f0 !important;
}

.admin {
    mat-label,
    .ag-filter-select,
    .mat-option,
    .mat-select-value,
    .mat-checkbox-label,
    .mat-optgroup-label,
    .mat-input-element,
    .mat-select-value-text,
    .mat-checkbox-label,
    .mat-radio-label-content,
    .mat-slide-toggle-content {
        font-family: $main-font-family;
        color: #717386 !important;
    }
}
.mat-checkbox-layout {
    margin-bottom: 0px !important;
}
.mat-option-text {
    color: #646161 !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #c7c7c7 !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #4e4f4e !important;
}

.mat-select-value-text {
    color: #fff !important;
}

.mat-ripple-element {
    background-color: transparent !important;
}

mat-form-field {
    display: block !important;
    font-family: $main-font-family;
    transition: none !important;

    .mat-form-field-wrapper {
        // padding: 3px 0px 15px 0px;
        padding: 0px;
    }

    .mat-form-field-outline-start {
        width: 50px !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }

    .mat-form-field-outline-end {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .mat-form-field-wrapper {
        margin: 0px !important;
    }

    .mat-form-field-infix {
        padding-top: 5px !important;
        padding-bottom: 10px !important;
        padding-left: 5px !important;
        padding-right: 10px !important;
    }

    .mat-form-field-label {
        top: 20px !important;
        left: 5px;
    }

    .mat-select-arrow-wrapper {
        transform: translateY(0%) !important;
    }

    .mat-form-field-outline-thick {
        .mat-form-field-outline-end {
            border: 1px solid $input_border;
        }

        .mat-form-field-outline-start {
            border: 1px solid $input_border;
        }

        .mat-form-field-outline-gap {
            border-top: 1px solid $input_border;
            border-bottom: 1px solid $input_border;
        }
    }

    mat-select {
        font-family: $main-font-family;
    }
}

.mat-form-field-appearance-outline {
    .mat-form-field-outline-thick {
        .mat-form-field-outline-end,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-start {
            border-width: 1px !important;
            transition: none !important;
        }
    }
}

.mat-form-field-appearance-outline .mat-form-field-prefix {
    color: $form-label-color !important;
    top: 0px !important;
}

.mat-form-field-appearance-outline {
    .mat-form-field-outline-thick {
        .mat-form-field-outline-end {
            border-left-style: none !important;
        }

        .mat-form-field-outline-start {
            border-right-style: none !important;
        }
    }
}

.mat-checkbox-frame {
    // border-color: #c24f8a !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 1 !important;
}

.age {
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-thumb,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary-color;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-blue;
}

.mat-slider-horizontal .mat-slider-track-fill,
.mat-slider-horizontal .mat-slider-track-wrapper,
.mat-slider-horizontal .mat-slider-track-background,
.mat-slider-horizontal .mat-slider-ticks-container,
.mat-slider-horizontal .mat-slider-ticks,
.mat-slider-horizontal .mat-slider-wrapper {
    height: 5px !important ;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(25, 120, 220, 0.54);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #fff;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #fff;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1050;
}

// chips
.mat-standard-chip {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0px !important;
    align-items: flex-start !important;
    min-height: 18px !important;
    background-color: transparent !important;
    font-family: $main-font-family;
    color: $form-label-color !important;
    font-weight: normal;

    &::after {
        background: none !important;
    }
}

// datepicker

// .md-drppicker {
//     display: flex;
//     width: 100%;
//     font-family: $main-font-family;

//     .btn {
//         background-color: $primary-blue !important;
//         box-shadow: none !important;
//     }
// }

// .md-drppicker td.active,
// .md-drppicker td.active:hover {
//     background-color: $primary-blue !important;
// }

.md-drppicker .calendar td span {
    font-family: $main-font-family;
    color: #717386 !important;
}

.mat-menu-panel {
    border-radius: 10px !important;
    margin-top: 5px !important;

    i {
        padding-right: 5px;
    }
}

.mat-menu-content:not(:empty) {
    padding: 15px 0px !important;
}

// file uploader
ngx-dropzone {
    border: 1px solid $table-border !important;
    border-radius: 5px !important;

    &:hover {
        border: 1px solid $input_border !important;
    }

    p {
        margin-bottom: 0 !important;
    }

    ngx-dropzone-image-preview {
        ngx-dropzone-label {
            color: $white !important;
        }
    }
}

// hover icon btn
.hoverBtnIcon {
    width: 100%;
    position: relative;

    .hoverIcons {
        position: absolute;
        right: 8px;
        top: 0;
        margin-right: 15px;
        font-size: $font-size-h6;
        display: none;

        a {
            font-size: 14px;
            color: $light_grey;

            i {
                margin-left: 3px;
            }
        }
    }

    &:hover > .hoverIcons {
        display: block;

        a {
            text-decoration: none;
        }
    }

    .btns {
        position: absolute;
        right: 8px;
        top: -3px;
        margin-right: 10px;
        font-size: $font-size-h6;
        width: 180px;
        display: none;

        a {
            border: 1px solid $light_grey;
            color: $light_grey;
            padding: 1px 7px;
            border-radius: 25px;
            margin-left: 3px;
            font-size: $font-size-small;
            text-decoration: none;
        }
    }

    &:hover > .btns {
        display: block;

        a:hover {
            color: $dark_grey;
            border: 1px solid $dark_grey;
        }
    }
}

// tomepicker
.timepicker {
    border-radius: 25px !important;
}

.md-drppicker td.active {
    background-color: #252527 !important;
}

.timepicker__header {
    background-color: #252527 !important;
    border-radius: 25px 25px 0px 0px;

    .timepicker-dial__control:focus {
        outline: none;
    }
}

.mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-prefix
    .mat-icon-button
    .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button
    .mat-datepicker-toggle-default-icon,
.time-pi {
    color: rgba(0, 0, 0, 0.54);
}

.timepicker-button {
    color: #252527 !important;
}

.clock-face__number > span.active,
.clock-face__clock-hand {
    background-color: #252527 !important;
}

.clock-face__clock-hand_minute:before {
    border-color: #252527 !important;
}

.timepicker__actions {
    border-radius: 0px 0px 25px 25px;
}
