<div id="chat-box">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <aside>
        <div class="msg-tabs">
          <div class="tab-content" id="pills-tabContent">
            <div class="tabp fade show active">
              <div class="m-tab-box">
                <ul>
                  <li *ngFor="let room of chatRoomList ; let i = index"
                      [ngClass]="{'active':activeChat===i}" (click)="chatRoomClick(room,i)"
                      style="margin-left: 10px;background-color: #122143;color: white;border: 1px solid">
                    <div
                      class="d-flex align-items-center justify-content-between">
                      <div class="left-m d-flex align-items-center">

                        <img src="https://www.gravatar.com/avatar/?d=mp"
                             alt="">

                        <span class="p-ab red-box notifications">
                                        <p>{{room.newMessageCount}}</p>
                                      </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        <div class="main-color mobilenone">
                          <p *ngIf="room.receiver==='ADMIN'">
                            {{room.sender}}
                          </p>

                          <p>
                            {{ room.lastTime | date:'medium' }}
                          </p>
                        </div>
                      </div>
                      <div class="right-m">
                                      <span class="material-icons">
                                        keyboard_arrow_right
                                      </span>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="chatRoomList?.length === 0" style="color: red;font-weight: bold;"
                      [ngClass]="{'active':activeChat===20}">
                    No messages!
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </aside>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="main-msg-chatbox" *ngIf="isUserSelected"
           style="margin-left: 10px;background-color: #122143;color: white;border: 1px solid">
        <p style="margin: 10px">{{sender}}</p>
        <div class="chat1">
          <ul style="overflow: scroll;" class="chat">

            <div *ngFor="let msg of chatMessagesList ; let i = index">
              <li class="you" *ngIf="msg.receiver==='ADMIN'">
                <div class="message">
                  {{msg.content}}
                </div>
                <div class="entete">
                  <p>{{ msg.time | date:'medium' }}</p>
                </div>
              </li>
              <li class="me" *ngIf="msg.receiver!=='ADMIN'">
                <div class="message">
                  <p>
                    {{msg.content}}
                  </p>
                </div>
                <div class="entete">
                  <p>{{ msg.time | date:'medium' }}</p>
                </div>
              </li>
            </div>
          </ul>
        </div>
        <footer style="margin-left: 10px;background-color: #3F51B5;color: white;">
          <div class="d-flex align-items-center">
                                                    <textarea placeholder="Type your message" [(ngModel)]="message"
                                                              style="color: black;"
                                                    ></textarea>
            <a (click)="sendMessageClick()" class="greytxt" style="margin: 15px;color: white;cursor: pointer"><span
              class="material-icons"> send </span></a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
