<app-header></app-header>
<div class="main-dash">

  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="avater">
        <div *ngIf="gender === 'male'">
          <img alt="" src="../../../../assets/img/dashboard/avatar_male.png">
        </div>
        <div *ngIf="gender === 'female'">
          <img alt="" src="../../../../assets/img/dashboard/avatar_female.png">
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="mt-4">
          <h6 class="gray-2 mb-0 pb-0" style="color: white;font-weight: bold">Time Line</h6>
          <mat-slider color="primary" class="w-100" max="365" disabled [(ngModel)]="numOfDays" min="1" thumbLabel tickInterval="1000">
          </mat-slider>
        </div>
        <div class="d-flex flex-wrap">
          <div class="plan">
            <h6 class="mb-3">Current Meals</h6>
            <div class="meals">
              <div *ngFor="let newMeal of newMealsList;let i = index" class="card-div">
                <div [routerLink]="'/dashboard/product-view'" [queryParams]="{data:convertJSON(newMeal)}">
                  <img src="{{'http://localhost:8080/file/download/' + newMeal.image}}" alt="">
                  <div class="price">
                    <div class="d-flex justify-content-between">
                      <p class="white">{{newMeal.mealName}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="yellow font-weight-bold">$ &nbsp;{{newMeal.price| number:'2.2-2'}}</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="plan">
            <h6 class="mb-3">New Options</h6>
            <div class="meals">
              <div *ngFor="let newMeal of newMealsList;let i = index" class="card-div">
                <div [routerLink]="'/dashboard/product-view'" [queryParams]="{data:convertJSON(newMeal)}">
                  <img src="{{'http://localhost:8080/file/download/' + newMeal.image}}" alt="">
                  <div class="price">
                    <div class="d-flex justify-content-between">
                      <p class="white">{{newMeal.mealName}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="yellow font-weight-bold">$ &nbsp;{{newMeal.price| number:'2.2-2'}}</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="history ml-3">
        <h6 class="mb-3">Order History</h6>
        <div>
          <div class="dates" [routerLink]="'/dashboard/orders'" style="cursor: pointer">
            <p *ngFor="let order of orderDetailList">{{convertDate(order.created)}}</p>
          </div>
          <div class="daily-target mt-2">
            <div class="top">
              <p>Daily Target</p>
            </div>
            <div class="bottom">
              <p>{{dailyReqOld | number:'1.0-0'}} kcal</p>
            </div>
          </div>
          <h6 class="mt-4 mouse-over" (click)="setupNewGoal()">Got a new goal?</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<app-chat-config></app-chat-config>
<app-chat-widget></app-chat-widget>
<app-footer></app-footer>
