.main-dash {
    background: url(../../../../assets/img/public/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.width-100 {
    width: 100px;
}

.img {
    height: 80vh;
}

.mouse-over {
    cursor: pointer;
}

.recalculate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    h6 {
        margin-bottom: 15px;
    }
}

.daily-target {
    margin-bottom: 5px;
    width: 160px;
    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .top {
        background-color: #181717;
        text-align: center;
        padding: 5px;
    }
    .bottom {
        background-color: #3b3838;
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 25px 5px 0 5px;
    .meals {
        height: 50vh;
        //min-height: 50vh;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;
        margin-bottom: 12px;
        &::-webkit-scrollbar-track {
            border-radius: 25px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }
        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 25px;
            background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-image: linear-gradient(to bottom, #959ac5, #9fa9cc, #abb8d2, #bac6d8, #ccd4dd);
        }
        .card-div {
            width: 200px;
            height: 120px;
            opacity: 0.75;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 5px;
            position: relative;
            cursor: pointer;
            img {
                height: 100%;
                width: 100%;
            }
            .price {
                background-color: rgba(0, 0, 0, 0.6);
                padding: 5px;
                position: absolute;
                bottom: 0;
                width: 100%;
                p {
                    margin-bottom: 0;
                    font-weight: bold;
                }
            }
            .checkbox-div {
                background-color: #fff;
                border-radius: 2px;
                display: inline-block;
                justify-content: flex-end;
                position: absolute;
                padding: 0 3px 2px 4px;
                top: 0;
                right: 0;
            }
        }
    }
}

.avater {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 90%;
    }
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    .dates {
        background-color: #3b3838;
        padding: 10px;
        text-align: center;
        max-height: 40vh;
        overflow: auto;
        &::-webkit-scrollbar-track {
            border-radius: 25px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }
        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 25px;
            background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-image: linear-gradient(to bottom, #959ac5, #9fa9cc, #abb8d2, #bac6d8, #ccd4dd);
        }
        p {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 950px) {
    .avater img {
        display: none !important;
    }
}
