<app-header></app-header>
<div class="main-dash">

  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="avater">
        <div *ngIf="gender === 'male'">
          <img alt="" src="../../../../assets/img/dashboard/avatar_male.png">
        </div>
        <div *ngIf="gender === 'female'">
          <img alt="" src="../../../../assets/img/dashboard/avatar_female.png">
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div *ngIf="dailyGoalBanner">
          <div class="alert alert-success" role="alert" *ngIf="this.dailyGoalStatus?.['clickedToday']">
            You have completed your daily goal. <i class="fa fa-times" aria-hidden="true"
                                                   style="float: right;font-size: 24px;cursor: pointer"
                                                   (click)="changeGoalBanner(false)"></i>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!this.dailyGoalStatus?.['clickedToday']">
            You need to complete the daily goal. <i class="fa fa-times" aria-hidden="true"
                                                    style="float: right;font-size: 24px;cursor: pointer"
                                                    (click)="changeGoalBanner(false)"></i>
          </div>
        </div>

        <div class="mt-4">
          <h6 class="gray-2 mb-0 pb-0" style="color: white;font-weight: bold">Time Line ( {{goalCount}} days
            remaining)</h6>
          <mat-slider color="primary" class="w-100" max="365" disabled [(ngModel)]="numOfDays" min="1" thumbLabel
                      tickInterval="1000">
          </mat-slider>
        </div>
        <div class="d-flex flex-wrap">
          <div class="plan">
            <h6 class="mb-3">Current Meals</h6>
            <div class="meals">
              <div *ngFor="let newMeal of newMealsList;let i = index" class="card-div">
                <div [routerLink]="'/dashboard/product-view'" [queryParams]="{data:convertJSON(newMeal)}">
                  <img src="{{'http://localhost:8080/file/download/' + newMeal.image}}" alt="">
                  <div class="price">
                    <div class="d-flex justify-content-between">
                      <p class="white">{{newMeal.mealName}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="yellow font-weight-bold">$ &nbsp;{{newMeal.price| number:'2.2-2'}}</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="plan">
            <h6 class="mb-3">New Options</h6>
            <div class="meals">
              <div *ngFor="let newMeal of newMealsList;let i = index" class="card-div">
                <div [routerLink]="'/dashboard/product-view'" [queryParams]="{data:convertJSON(newMeal)}">
                  <img src="{{'http://localhost:8080/file/download/' + newMeal.image}}" alt="">
                  <div class="price">
                    <div class="d-flex justify-content-between">
                      <p class="white">{{newMeal.mealName}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="yellow font-weight-bold">$ &nbsp;{{newMeal.price| number:'2.2-2'}}</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="history ml-3">
        <h6 class="mb-3">Order History</h6>
        <div>
          <div class="dates" [routerLink]="'/dashboard/orders'" style="cursor: pointer">
            <p *ngFor="let order of orderDetailList">{{convertDate(order.created)}}</p>
          </div>
          <div class="daily-target mt-2">
            <div class="top">
              <p>Daily Target</p>
            </div>
            <div class="bottom">
              <p>{{dailyReqOld | number:'1.0-0'}} kcal</p>
            </div>
          </div>
          <h6 class="mt-4 mouse-over" (click)="setupNewGoal()">Got a new goal?</h6>
          <br>
          <br>
          <section>
            <div class="example-button-row">
              <button mat-raised-button color="primary" (click)="completeDailyGoal()"
                      [disabled]="this.dailyGoalStatus?.['clickedToday']">Complete the daily goal
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<app-chat-config></app-chat-config>
<app-chat-widget></app-chat-widget>
<app-footer></app-footer>


<button #goalExpiredModal type="button" class="btn btn-primary" data-toggle="modal" data-target="#goalExpiredModal"
        hidden>
</button>


<div data-backdrop="static" data-keyboard="false" class="modal fade" id="goalExpiredModal" tabindex="-1" role="dialog"
     aria-labelledby="goalExpiredModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: black!important;" class="modal-title" id="exampleModalLongTitle">Meal plan goal status</h5>
      </div>
      <div class="modal-body" style="color: black!important;">
        Your meal plan goal has expired!
        Please <a (click)="setupNewGoal()" href="javascript:void(0)" data-dismiss="modal">click here</a> to renew it.
      </div>
    </div>
  </div>
</div>
