footer {

    .footer-div {
            
        padding-left: 100px !important;
        border-top: 1px solid $gray;
        text-align: center;

        p {
            padding: 15px 0;
            margin-bottom: 0;
        }
    }
}