.img {
    width: 100px;
    height: 70px;
    margin: 10px 0;
    border-radius: 5px;
}

.form-control:focus,
.btn:focus {
    box-shadow: none !important;
}

.inputError{
  font-size: 10px;
  color: red;
}


.button.primary-btn{
  background-color: #4CAF50!important;
}
