<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify">
          <img src="assets/img/public/SmartPlan.png" alt=""
               style="width: 150px;border-radius: 100%">
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/dashboard">Home</a></li>
          <li><a href="/dashboard/cart">My Cart</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="https://www.linkedin.com/in/sachin-dilshan-5535611a5/">H.D.Sachin Dilshan</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
