<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h4 class="font-weight-bold black">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Settings
        </h4>
      </div>
    </div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label style="color: black!important;">System Currency</mat-label>
        <input matInput>
      </mat-form-field>
    </form>
  </div>
</div>
