<div class="row" style="margin-bottom: 5vh">
  <div class="col-12">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h4 class="font-weight-bold black">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </h4>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card data-toggle="modal" data-target="#unitTypeModal">
        <p class="card-text">
          System Unit Type
        </p>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>
        <p class="card-text">
          Reset Admin Password
        </p>
      </mat-card>
    </div>
  </div>

</div>


<!-- Unit Type modal -->
<div class="modal fade" id="unitTypeModal" tabindex="-1" role="dialog" aria-labelledby="unitTypeModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <button class="button primary-btn ml-2" data-dismiss="modal" data-toggle="modal"
                  data-target="#addNewUnitTypeModal">Add New
            Unit Type
          </button>
        </div>
        <div style="width:100%; max-height: 80vh; overflow-x: auto;">
          <mat-form-field class="matsearch">
            <input class="matsearch" (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
          </mat-form-field>

          <table [dataSource]="dataSource" class="table salestable" mat-table matSort style="width:100%">

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef class="center-table tbl td" mat-header-cell mat-sort-header>
                Id
              </th>
              <td *matCellDef="let row" class="center-table tbl" mat-cell style="padding-left: 0;">
                {{row.id}}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th *matHeaderCellDef class="center-table tbl td" mat-header-cell mat-sort-header>
                Description
              </th>
              <td *matCellDef="let row" class="center-table tbl" mat-cell style="padding-left: 0;">
                {{row.description}}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef class="center-table centertd tbl td" mat-header-cell mat-sort-header>

              </th>
              <td *matCellDef="let row" class="center-table tbl" mat-cell style="padding-left: 0;">
                <button (click)="deleteType(row.id)" style="cursor: pointer" data-target=".meals" data-toggle="modal"
                        class="btn btn-primary" type="button">
                  <em class="fa fa-trash"></em></button>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row>
            </tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- Add New Type Modal -->
<div class="modal fade" id="addNewUnitTypeModal" tabindex="-1" role="dialog" aria-labelledby="addNewUnitTypeModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Add New System Unit Type</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Unit Type</mat-label>
          <textarea matInput style="color: black!important;" [(ngModel)]="unitType"></textarea>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="button primary-btn ml-2" data-dismiss="modal" data-toggle="modal"
                data-target="#unitTypeModal" (click)="saveUnitType()">Save
        </button>
      </div>
    </div>
  </div>
</div>
