<app-header></app-header>

<div class="container">
  <div class="row" style="height: 70vh;margin-top: 5vh">
    <div class="col-md-6 col-sm-12" style="height: 70vh;">
      <div class="row">
        <div class="col-12">
          <img src="{{'http://localhost:8080/file/download/' + productDetails.image}}" alt="" width="100%;"
               style="height: auto">
        </div>

      </div>

    </div>
    <div class="col-md-6 col-sm-12" style="height: 70vh">
      <h1 style="
       color: black;
       font-weight: bold;
       font-size: 25px;">{{productDetails.mealName}}</h1>
      <br>
      <br>
      <h2 style="
       color: white;
       font-weight: bold;
       font-size: 20px;">Start Time</h2>
      <br>
      <p class="card-text">

      </p>
      <br>
      <p style="color: white">
        NOKIA 8 restarts randomly so many times. But when it is out on charging, it doesn't restart.
        And the problem happens more often when the battery is below 60%. But even at 95% the problem persists,
        less though Don't know what's the i...
      </p>

      <div class="col-12">
        <button style="width: 150px;font-size: 20px;float: right" type="button" class="btn btn-warning">BID</button>
      </div>
    </div>


  </div>


</div>

