* {
  box-sizing: border-box;
  position: relative;
}

.wrapper {
  position: absolute;
  bottom: -68vh;
}

.chat-button {
  z-index: 1;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  background: #1976d2;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 32px;
  left: auto;
  top: auto;
}
.chat-button-header {
  z-index: 1;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  padding: 5px 9px;
  margin-left: 5px;
}

.Chat-window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 300px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  z-index: 1000;
  background-color: #0c69cd;
}

.chat-button:focus {
  border: 2px solid white;
}

.chat-box {
  z-index: 1000;
  position: fixed;
  left: auto;
  top: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 350px !important;
  bottom: 50px;
  right: 80px;

  /*height: 660px;*/

  /*font-size: 0;*/
  /*z-index: 10000;*/
  /*border-radius: 5px;*/
  /*overflow: hidden;*/

  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  /*background: #1976d2;*/
}
.chat-box-hidden {
  display: none;
}
.chat-box-header {
  padding: 10px;
  color: #fff;
  background: #1758ff;
}

.chat-box-main {
  flex: 1;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.chat-box-footer {
  color: #022450;
  height: 50px;
  background: rgba(236, 238, 243, 0.52);
  border-top: 1px solid #ccc;
}

.operator-name {
  margin: 0;
  padding: 1px;
}

.operator-status {
  float: right;
  padding: 4px;
}
.operator-status span {
  margin-left: 4px;
}
.operator-status-online {
  color: lawngreen;
}
.operator-status-offline {
  color: red;
}

.operator-avatar {
  height: 30px;
  width: 100px;
  /*border-radius: 50%;*/
  float: left;
  margin-right: 10px;
}

.chat-message {
  display: block;
  width: auto;
  margin: 5px;
  align-self: flex-start;
  flex-direction: row;
  max-width: 80%;
  word-wrap: break-word;
}

.chat-message-date {
  font-size: 11px;
  color: #8d898d;
  padding: 5px;
}

.chat-message-from-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.chat-message-text {
  margin-left: 10px;
  padding: 10px;
  border-radius: 3px;
}

/**
Received message style
 */
.chat-message-received {
  margin-right: 50px;
}

.chat-message-received .chat-message-text {
  background: #1758ff;
  box-sizing: border-box;
  box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05),
    15px 15px 35px rgba(112, 124, 151, 0.05);
  border-radius: 10px;
  margin-left: 50px;
  color: #fff;
  border-bottom-left-radius: 0;
}

.chat-message-received .chat-message-text:before {
  position: absolute;
  content: " ";
  left: -10px;
  bottom: 0;
  border-right: solid 10px #1758ff;
  border-top: solid 10px transparent;
  z-index: 0;
}

.chat-message-received .chat-message-date {
  margin-left: 50px;
}

.chat-message-received .chat-message-from-avatar {
  position: absolute;
  left: 0;
  bottom: -15px;
}

/**
Sent message style
 */
.chat-message-sent {
  align-self: flex-end;
}

.chat-message-sent .chat-message-from {
  float: right;
}

.chat-message-sent .chat-message-text {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05),
    15px 15px 35px rgba(112, 124, 151, 0.05);
  border-radius: 10px;
  margin-right: 50px;
  color: #022450;
  border-bottom-right-radius: 0;
}

.chat-message-sent .chat-message-text:after {
  position: absolute;
  content: " ";
  right: -10px;
  bottom: 0;
  border-left: solid 10px #ffffff;
  border-top: solid 10px transparent;
  z-index: 0;
}

.chat-message-sent .chat-message-date {
  text-align: right;
  padding-right: 50px;
}

.chat-message-sent .chat-message-from-avatar {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.blue .chat-button {
  background: #1976d2;
}
.blue .chat-box {
  background: #1976d2;
}

.grey .chat-button {
  background: #454549;
}
.grey .chat-box {
  background: #fff;
}

.red .chat-button {
  background: #dd0031;
}
.red .chat-box {
  background: #dd0031;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .wrapper {
    top: auto;
    right: 0;
    width: 300px;
  }
  .chat-button {
    display: block;
  }
  .chat-button-header {
    display: none;
  }
  .chat-box {
    top: auto;
    left: auto;
    bottom: 100px;
    right: 40px;
    height: 60vh;
    width: 300px;
    border-radius: 10px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .chat-box {
    height: 70vh;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .chat-box {
    height: 75vh;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .chat-box {
    /*height: 80vh;*/
  }
}

.avatar {
  height: 20px;
  width: 100px;
  /*border-radius: 20%;*/
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}
.h3,
h3 {
  font-size: 20px !important;
}

.imageStyle {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.p-ab {
  position: absolute;
  background: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  bottom: 30px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-ab p {
  color: #fff;
  margin: 0;
}
