.side-bar {
  height: 100vh;
  background-color: #122143;
  //width: 20%;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .navigation ul {
    margin-left: 1vw;
    list-style: none;
    margin-bottom: 15%;
    background-color: #122143;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .navigation ul:hover{
    background-color: #4CAF50;
  }
}

.header {
  padding: 10px 0;
  background-color: #122143;
  color: white;

  h6 {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.row {
  margin-right: 0 !important;
}
