.container-fluid {
  background-color: #37474F !important;
}

.mt-3, .my-3 {
  margin: 0 !important;
}

.customDrop {
  color: #757575;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  padding: 15px 20px;
  display: block;
  margin: 0;
}


.customText {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: white;
  font-weight: 600;
}


