<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
  <a class="navbar-brand" [routerLink]="'/dashboard'"> <img src="assets/img/public/SmartPlan.png" alt=""
                                                            style="width: 35px;border-radius: 100%">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-right: 3vw">
    <ul class="navbar-nav ml-auto">

      <mat-icon [routerLink]="'/dashboard/cart'" matBadge="{{itemCount}}" matBadgeColor="warn"
                style="font-size: 20px;margin: 10px 25px 10px 10px;cursor: pointer">shopping_cart
      </mat-icon>


      <li class="nav-item dropdown">
        <a style="border: 2px solid!important;border-radius: 10px!important;margin-right: 5vw;cursor: pointer" class="nav-link dropdown-toggle "
           id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <span class="customText">{{name}}</span>&nbsp;
        </a>
        <div class="dropdown-menu" style="width: 100%">
          <a class="dropdown-item customDrop" [routerLink]="'/dashboard/profile'"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            &nbsp;&nbsp;
            My Profile</a>

          <a class="dropdown-item customDrop" [routerLink]="'/dashboard/cart'"><i class="fa fa-shopping-cart"
                                                                                  aria-hidden="true"></i>
            &nbsp;&nbsp;
            My Cart</a>
          <a class="dropdown-item customDrop" [routerLink]="'/dashboard/orders'"><i class="fa fa-folder"
                                                                                    aria-hidden="true"></i>
            &nbsp;&nbsp;
            My Orders</a>
          <a class="dropdown-item customDrop" (click)="logout()"><i class="fa fa-times" aria-hidden="true"></i>
            &nbsp;&nbsp;
            Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- address -->
<div aria-hidden="true" aria-labelledby="mySmallModalLabel" class="modal fade addressModel" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title black">Edit Address</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-form-field appearance="outline">
            <textarea [(ngModel)]="address" matInput placeholder="Textarea" rows="5"
                      style="color: black!important;"></textarea>
          </mat-form-field>
          <br>
          <div class="d-flex justify-content-end">
            <a (click)="updateAddress()" class="button primary-btn" data-dismiss="modal" href="javascript:void(0)">Update</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
