/* You can add global styles to this file, and also import other style files */


// variables
@import "assets/scss/variables/fonts";
@import "assets/scss/variables/colors";

// main styles
@import "assets/scss/main-style.scss";



// components
@import "assets/scss/buttons.scss";
@import "assets/scss/form.scss";
@import "assets/scss/tabel.scss";

// agGrid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
